html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Mixin */
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #937b92;
  line-height: 1;
}

h1 {
  font-size: 4rem;
  color: #502050;
  font-weight: 700;
}

.container {
  max-width: 114rem;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem 0;
}
.container .section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2.8rem;
}
.container .section .col-haf {
  width: 50%;
}
.container .section .col-haf .heading,
.container .section .col-haf .sub-heading {
  max-width: 80%;
  margin-bottom: 1.6rem;
}
.container .section .col-haf .heading {
  line-height: 1;
}
.container .section .col-haf .sub-heading {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}
.container .section .col-haf .rate-box {
  width: 44rem;
  background-color: #f7f2f7;
  border-radius: 0.8rem;
  padding: 1.6rem 3rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.container .section .col-haf .rate-box p {
  margin-left: 3.2rem;
  color: #502050;
  font-weight: 700;
}
.container .section .col-haf .rate-box-1 {
  margin-right: 9.6rem;
}
.container .section .col-haf .rate-box-2 {
  margin-right: 4.8rem;
}
.container .section .review-box {
  background-color: #502050;
  padding: 4rem 3.2rem;
  border-radius: 8px;
}
.container .section .review-box__header {
  display: flex;
  margin-bottom: 3.2rem;
  align-items: center;
  gap: 0 2.2rem;
}
.container .section .review-box__header img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.container .section .review-box__header--profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}
.container .section .review-box__header--profile-heading {
  color: white;
  font-weight: 700;
}
.container .section .review-box__header--profile-subheading {
  color: #ee68a4;
  font-size: 1.4rem;
}
.container .section .review-box__content {
  font-size: 1.3rem;
  color: white;
  line-height: 1.8rem;
}
.container .section .review-box-3 {
  margin-top: 3.2rem;
}
.container .section .review-box-2 {
  margin-top: 1.6rem;
}
@media (max-width: 399px) {
  .container {
    max-width: 345px;
    padding: 5rem 0;
  }
  .container .section {
    flex-direction: column;
  }
  .container .section .col-haf {
    width: 100%;
    text-align: center;
  }
  .container .section .col-haf .heading,
.container .section .col-haf .sub-heading {
    max-width: 100%;
  }
  .container .section .col-haf .rate-box {
    width: 30rem;
    margin: 2.4rem auto;
  }
}

/*# sourceMappingURL=app.css.map */
