// Color
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Typography
$normal-font-size: 1.5rem;
$h1-font-size: 4rem;

$primary-font: 'Spartan', sans-serif;

$font-normal: 400;
$font-semi-bold: 500;
$font-bold: 700;
